<!--BEGIN ADMIN HEADER-->
			<!---
				<div class="btn-group">
					<a class="btn btn-large tip-bottom" title="Valdyti vartotojus"><i class="icon-user"></i></a>
					<a class="btn btn-large tip-bottom" title="Valdyti QR kodus"><i class="icon-comment"></i><span class="label label-important">5</span></a>
					<a class="btn btn-large tip-bottom" title="Valdyti sąskaitas"><i class="icon-shopping-cart"></i></a>
				</div>
			-->
<!--END ADMIN HEADER-->