<!--BEGIN USER MENU-->
		{if $logged}
		<div id="user-nav" class="navbar navbar-inverse">
            <ul class="nav btn-group">
                <!--<li class="btn btn-inverse"><a title="" href="#"><i class="icon icon-user"></i> <span class="text">Profilis</span></a></li>-->
                <li class="btn btn-inverse"><a title="" href="logout.php"><i class="icon icon-share-alt"></i> <span class="text">Atsijungti</span></a></li>
            </ul>
        </div>
        {/if}
<!--END USER MENU -->